.cabecinha{
    background-color: #ff9c19;
}
.branquinho{
    color: #ffffff;
    margin-left: 2vw;
}
.material-symbols-outlined{
    margin-top: 5px;
    font-size: xx-large;
}
.main{
    background-color: #383838;
}
.pesinho{
    background-color: #ff9c19;
}